body {
  background-image: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=1380&t=st=1689602824~exp=1689603424~hmac=ea98fceeb0cb2d62631de9181219f725087f4c3844fa8d8382ada2a7a4972f9f');
  background-size: cover;
  background-repeat: no-repeat;
}
